body {
    background-image: url("pizza-background.jpg");
    background-repeat: no-repeat;

}

.container {
    width: 60%;
}

h1 {
    text-align: center;
    color: red;
}

label {
    color: red;
    font-size: 1.4em;
}
